:root {
  --primary: #b99470;
  --secondary: #deac80;
  --tertiary: #f7dcb9;
  --shadow: #faf7f7;
  --light-bg: #ffffff;
  font-size: 16pt;
  font-family: "Gill Sans", sans-serif;
}

body {
  background-color: var(--shadow);
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

header {
  align-items: center;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav section {
  margin: 0.5vh 1vw;
}

#produtos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

article.produto {
  background-color: var(--light-bg);
  padding: 0.5vh 0.5vw;
  margin: 1vh 1vw;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & figure {
    background-color: var(--tertiary);
    border-radius: 50% 20% / 10% 40%;
    margin: 0.5vh 0.5vw;

    & img {
      margin: unset;
    }
  }

  & section {
    width: 100%;

    & p {
      margin: unset;
    }

    & .nome {
      font-weight: bold;
      text-align: center;
    }

    & .descricao {
      text-align: center;
    }

    & .valor {
      justify-content: end;
      display: flex;
      align-items: baseline;

      & span {
        font-size: 2em;
        font-weight: bold;
      }
    }
  }
}

@media (width > 768px) {
  nav {
    flex-direction: row;
  }
}

@media (width > 1024px) {
  #produtos {
    flex-direction: row;
    padding: unset;
  }

  article.produto {
    flex: 1 0 calc(33% - 10px);
  }
}

@media (width > 1440px) {
  #produtos article.produto {
    flex: 1 0 calc(25% - 10px);
  }
}

@media (width > 1920px) {
  #produtos article.produto {
    flex: 1 0 calc(15% - 10px);
  }
}
